<!-- JavaScript Libraries -->
<script src="__PUBLIC__/Admin/lib/jquery/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/lib/jquery/jquery-migrate.min.js"></script>
<script src="__PUBLIC__/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="__PUBLIC__/Admin/lib/easing/easing.min.js"></script>
<script src="__PUBLIC__/Admin/lib/superfish/hoverIntent.js"></script>
<script src="__PUBLIC__/Admin/lib/superfish/superfish.min.js"></script>
<script src="__PUBLIC__/Admin/lib/wow/wow.min.js"></script>
<script src="__PUBLIC__/Admin/lib/waypoints/waypoints.min.js"></script>
<script src="__PUBLIC__/Admin/lib/counterup/counterup.min.js"></script>
<script src="__PUBLIC__/Admin/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="__PUBLIC__/Admin/lib/isotope/isotope.pkgd.min.js"></script>
<script src="__PUBLIC__/Admin/lib/lightbox/js/lightbox.min.js"></script>
<script src="__PUBLIC__/Admin/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="__PUBLIC__/Admin/contactform/contactform.js"></script>
<script src="http://at.alicdn.com/t/font_588435_00ojmk7bpyadobt9.js"></script>
<!-- Template Main Javascript File -->
<script src="__PUBLIC__/Admin/js/main.j"></script>
