<!-- Bootstrap core JavaScript-->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="__PUBLIC__/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="__PUBLIC__/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="__PUBLIC__/Admin/vendor/chart.js/Chart.min.js"></script>
<script src="__PUBLIC__/Admin/vendor/datatables/jquery.dataTables.js"></script>
<script src="__PUBLIC__/Admin/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="__PUBLIC__/Admin/js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="__PUBLIC__/Admin/js/sb-admin-datatables.min.js"></script>
<script src="__PUBLIC__/Admin/js/sb-admin-charts.min.js"></script>
<script src="__PUBLIC__/Admin/js/main.js" charset="utf-8"></script>
<script src="http://at.alicdn.com/t/font_588435_00ojmk7bpyadobt9.js"></script>
