.bg-dark {
  background: url(../img/loginbg.png) center 316px repeat-x, -webkit-linear-gradient(bottom, white, #f8f9fb);
  background: url(../img/loginbg.png) center 316px repeat-x, -moz-linear-gradient(bottom, white, #f8f9fb);
  background: url(../img/loginbg.png) center 316px repeat-x, -ms-linear-gradient(bottom, white, #f8f9fb);
  background: url(../img/loginbg.png) center 316px repeat-x, -o-linear-gradient(bottom, white, #f8f9fb);
}

#nav-menu-container .navli a {
  color: #212121;
}

#header {
  border-bottom: 2px solid #cc131c;
  background: #fff
}

.sf-arrows .sf-with-ul {
  color: #212121;
}
