<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="__PUBLIC__/Home/img/favicon.png" rel="icon">
  <meta name="copyright" content="www.bishide.com" />
  <meta name="keywords" content="币势得, 云算力, 云挖矿,算力投资，币势得以太坊挖矿, 数字货币" />
  <meta name="description" content="币势得云算力平台是目前国内前列的云算力数字投资平台，我们为客户提供了一种轻松简单的挖矿手段 在购买算力之后我们完全帮您解决了后顾之忧">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Custom fonts for this template-->
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Page level plugin CSS-->
  <link href="__PUBLIC__/Home/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Bootstrap core CSS-->
  <link href="__PUBLIC__/Home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="__PUBLIC__/Home/css/sb-admin.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/hover.css/2.1.1/css/hover-min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/Buttons/2.0.0/css/buttons.min.css" rel="stylesheet">
  <link href="__PUBLIC__/Home/lib/animate/animate.min.css" rel="stylesheet">
  <link href="__PUBLIC__/Home/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="__PUBLIC__/Home/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="__PUBLIC__/Home/css/style.css" rel="stylesheet">
  <!-- main -->
  <link rel="stylesheet" href="__PUBLIC__/Home/css/login.css">
  <link rel="stylesheet" href="__PUBLIC__/Home/css/accordion.css">
  <link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7f3e86804b6d35ba33bc48fb11868dd4";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

