<!-- JavaScript Libraries -->
<script src="__PUBLIC__/Home/lib/jquery/jquery.min.js"></script>
<script src="__PUBLIC__/Home/lib/jquery/jquery-migrate.min.js"></script>
<script src="__PUBLIC__/Home/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="__PUBLIC__/Home/lib/easing/easing.min.js"></script>
<script src="__PUBLIC__/Home/lib/superfish/superfish.min.js"></script>
<script src="__PUBLIC__/Home/lib/wow/wow.min.js"></script>
<script src="__PUBLIC__/Home/lib/counterup/counterup.min.js"></script>
<script src="__PUBLIC__/Home/lib/owlcarousel/owl.carousel.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="__PUBLIC__/Home/contactform/contactform.js"></script>
<script src="http://at.alicdn.com/t/font_588435_4pfjbl7xrgwopqfr.js"></script>
<script src="https://cdn.bootcss.com/Buttons/2.0.0/js/buttons.min.js"></script>
<script src="https://cdn.bootcss.com/clipboard.js/2.0.0/clipboard.min.js"></script>
<!-- Template Main Javascript File -->
<script src="__PUBLIC__/Home/js/jparticle.jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/odoo.js"></script>
<script src="__PUBLIC__/Home/js/main.js"></script>


