<!--#include  file="include/main-css.html" -->
<include file="Public:main-css"/>
<title>服务指南</title>

</head>

<body>

  <!--#include file="include/account-header.html"  -->
  <include file="Public:account-header"/>
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <!-- <ol class="carousel-indicators"></ol> -->

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url('http://p83bf6y5o.bkt.clouddn.com/2.jpg');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h1>服务指南</h1>
                <h4>浏览我们的客户服务目录 可以查询到最常见的问题</h4>
                <!-- <a href="#featured-services" class="btn-get-started scrollto">立即注册</a>
                <a href="#featured-services" class="btn-get-started scrollto">账号登录</a> -->
              </div>
            </div>
          </div>

        </div>

        <!-- <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->

      </div>
    </div>
  </section>

  <!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="why">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>为什么选择云计算挖矿？</h3>
        </header>
        <!--
        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon">
                  <i class="ion-ios-speedometer-outline"></i>
                </div>
              </div>
              <h2 class="title"><a href="#">我们的使命</a></h2>
              <p>
                Lorem ipsum dolor sit amet,
              </p>
              <div class="text-center">
                <a href="#featured-services" class="btn-learnmore">立即获取算力</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                leftg src="img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon">
                  <i class="ion-ios-list-outline"></i>
                </div>
              </div>
              <h2 class="title"><a href="#">我们的愿景</a></h2>
              <p>
                Sed ut perspiciatis unde omnis iste natus error
                <div class="text-center">
                  <a href="#featured-services" class="btn-learnmore">了解矿池信息</a>
                </div>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon">
                  <i class="ion-ios-eye-outline"></i>
                </div>
              </div>
              <h2 class="title"><a href="#">我们的观点</a></h2>
              <p>
                Nemo enim ipsam voluptatem quia voluptas
                <div class="text-center">
                  <a href="#featured-services" class="btn-learnmore">了解算力信息</a>
                </div>
            </div>
          </div>

        </div> -->

        <!--<div class="col-lg-12 col-md-12 box wow fadeInUp" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-name: fadeInUp;">-->
          <!--<div class="text-center">-->
            <!--<p class="card-text">您只需一键查看您的钱包，就能看见收益源源不断</p>-->
            <!--<p>-->
              <!--<if condition="isset($_SESSION['user'])">-->
                <!--<a href="{:U('Personal/payment')}" class="btn btn-danger">立即部署算力</a>-->
                <!--<else/>-->
                <!--<a href="{:U('User/login')}" class="btn btn-danger">立即部署算力</a>-->
              <!--</if>-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->

        <div class="col-lg-12 wow fadeInUp">
          <div class="row justify-content-around">
            <div class="card-body col-lg-4">
              <img class="card-img-top" src="http://p83bf6y5o.bkt.clouddn.com/compare-1.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text text-center">选择币势得云算力 <br> 在家轻轻松松获取收益</p>
              </div>

            </div>
            <div class="card-body col-lg-4">
              <img class="card-img-top" src="http://p83bf6y5o.bkt.clouddn.com/compare-2.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text text-center">在家挖矿体验差 <br> 需要忍受各种负面因素</p>
              </div>
            </div>

          </div>
          <div class="col-lg-6 offset-md-3 text-center wow fadeInUp">
            <p class="text-left">
              我们为客户提供了一种轻松简单的挖矿手段 在购买算力之后我们完全帮您解决了后顾之忧； 不需要您维护您的矿机——这一切我们帮您代劳; 不需要您付出宝贵的时间——这一切都交给我们； 不需要您忍受巨大的噪音——我们替您承受； 您只需一键查看您的钱包，就能看见收益源源不断。
            </p>
          </div>
          <div class="col-lg-12 col-md-12 wow fadeInUp">
            <p class="card-text text-center col-md-4 offset-md-4">
              <if condition="isset($_SESSION['user'])">
                <a href="{:U('Personal/payment')}" class="btn btn-danger btn-block">立即部署算力</a>
                <else/>
                <a href="{:U('User/login')}" class="btn btn-danger btn-block">立即部署算力</a>
              </if>
            </p>
          </div>
        </div>
    </section>
    <!-- #about -->

    <section id="benefit">
      <div class="container">

        <header class="section-header wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <h3>云算力挖矿的优点</h3>
         
        </header>

        <div class="card-deck mt-5">
          <div class="card wow fadeInUp animated mt-2">
            <div class="media">
              <div class="pull-left mr-2">
                <svg class="icon icon-nice" aria-hidden="true">
                  <use xlink:href="#icon-ziyuan"></use>
                </svg>
              </div>
              <div class="pr-1">
                <h6 class="card-title mt-2 text-bishide">收益显而易见的投资手段</h6>
                <p class="text-left">云算力投资是目前收益比较显著的投资手段之一，您可以在我们的后台实实在在看到货币增长，同时可以随时提取货币。云算力的收益率也是目前投资回报率较高的投资方式。</p>
              </div>
            </div>
          </div>
          <div class="card wow fadeInUp animated mt-2">
            <div class="media">
              <div class="pull-left mr-2">
                <svg class="icon icon-nice" aria-hidden="true">
                  <use xlink:href="#icon-ziyuan4"></use>
                </svg>
              </div>
              <div class="pr-1">
                <h6 class="card-title mt-2 text-bishide">我们替您关注货币状况</h6>
                <p class="text-left">如果您平时工作较忙没有时间关注货币价格也无需担心，我们的客服会提醒您货币的情况，您不用每时每刻盯着币价不放。</p>
              </div>
            </div>
          </div>

        </div>

        <div class="card-deck mt-5">
          <div class="card wow fadeInUp animated mt-2">
            <div class="media">
              <div class="pull-left mr-2">
                <svg class="icon icon-nice" aria-hidden="true">
                  <use xlink:href="#icon-ziyuan2"></use>
                </svg>
              </div>
              <div class="pr-1">
                <h6 class="card-title mt-2 text-bishide">强大的技术支持团队</h6>
                <p class="text-left">我们组建了专业的技术支持团队驻扎在云算力中心，确保每一台云算力矿机的正常运行，您同样可以在我们的数据中心查看您算力矿机的运转情况，有任何疑问都可以向我们的技术团队提出。</p>
              </div>
            </div>
          </div>
          <div class="card wow fadeInUp animated mt-2">
            <div class="media">
              <div class="pull-left mr-2">
                <svg class="icon icon-nice" aria-hidden="true">
                  <use xlink:href="#icon-ziyuan3"></use>
                </svg>
              </div>
              <div class="pr-1">
                <h6 class="card-title mt-2 text-bishide">简单直接的定价</h6>
                <p class="text-left">我们的定价更加简单直接，固定算力叠加的方式让您明确了解您拥有多少台矿机的算力，只需要在购买时选择您所需的算力即可。</p>
              </div>
            </div>
          </div>

        </div>

        <div class="card-deck mt-5">
          <div class="card wow fadeInUp animated mt-2">
            <div class="media">
              <div class="pull-left mr-2">
                <svg class="icon icon-nice" aria-hidden="true">
                  <use xlink:href="#icon-ziyuan-1"></use>
                </svg>
              </div>
              <div class="pr-1">
                <h6 class="card-title mt-2 text-bishide">灵活的多货币挖矿</h6>
                <p class="text-left">在ETH达不到收益预期的时候，我们可能会考虑其他货币挖矿以确保您的收益。</p>
              </div>
            </div>
          </div>
          <div class="card wow fadeInUp animated mt-2">
            <div class="media">
              <div class="pull-left mr-2">
                <svg class="icon icon-nice" aria-hidden="true">
                  <use xlink:href="#icon-ziyuan1"></use>
                </svg>
              </div>
              <div class="pr-1">
                <h6 class="card-title mt-2 text-bishide">有保障的挖矿时间</h6>
                <p class="text-left">在算力购买合同中，我们将向您承诺每年的挖矿天数，而其中的风险您完全不必承担，您所要做的就是看着收益到达您的手中，简单直接。</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!--==========================
      Services Section
    ============================-->

    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>常见问题与解答</h3>
          
        </header>

        <div class="row justify-content-between mt-5">
          <div class="col-md-6 col-sm-6 wow fadeInUp">
            <div class="panel-group wrap" id="bs-collapse">
              <div class="panel mb-2">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#" href="#Toggle-1" class="collapsed">
                      1、如何购买算力？
                    </a>
                  </h4>
                </div>
                <div id="Toggle-1" class="panel-collapse collapse">
                  <div class="panel-body">
                    首先您需要成为注册用户，在个人中心里您可以选购您所需要的算力，并进入付款流程，我们将由专属客服1对1服务。
                  </div>
                </div>

              </div>

              <div class="panel mb-2">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#" href="#Toggle-2" class="collapsed">
                      2、我需要付电费吗？
                    </a>
                  </h4>
                </div>
                <div id="Toggle-2" class="panel-collapse collapse">
                  <div class="panel-body">
                    除了一开始的云算力费用之外，您在合同期内不需要支付任何费用，您只需要购买算力然后获取收益就可以了。我们的云算力非常简单和直接。
                  </div>

                </div>
              </div>

              <div class="panel mb-2">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#" href="#Toggle-3" class="collapsed">
                      3、我可以购买几份算力？
                    </a>
                  </h4>
                </div>
                <div id="Toggle-3" class="panel-collapse collapse">
                  <div class="panel-body">
                    只要您购买的算力不超过我们现有的算力池容量，都可以自由购买。
                  </div>
                </div>
              </div>

              <div class="panel mb-2">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#" href="#Toggle-4" class="collapsed" class="" aria-expanded="true">
                      4、如果设备有损坏怎么办？
                    </a>
                  </h4>
                </div>
                <div id="Toggle-4" class="panel-collapse collapse in" aria-expanded="true" style="">
                  <div class="panel-body">
                    首先，您的云算力不会有损失，我们强大的技术支持团队会每天检查设备，同时保证第一时间更换运行有问题的矿机，您的算力不会有任何损失。
                  </div>
                </div>
              </div>

              <div class="panel mb-2">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#" href="#Toggle-10" class="collapsed" aria-expanded="true">
                      5、我下单之后多久能看见收益？
                    </a>
                  </h4>
                </div>
                <div id="Toggle-10" class="panel-collapse collapse in" aria-expanded="true" style="">
                  <div class="panel-body">
                    我们需要72小时来部署您的算力，在算力部署完毕之后您就可以看到你的收益了。
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="col-md-6 col-sm-6 wow fadeInUp">

            <div class="panel-group wrap" id="bs-collapse">

              <div class="panel mb-2">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#" href="#Toggle-5" class="collapsed">
                      6、我的收益周期是多少天？
                    </a>
                  </h4>
                </div>
                <div id="Toggle-5" class="panel-collapse collapse">
                  <div class="panel-body">
                    每天您都可以查看您的收益，您可以登陆网站，然后在个人中心里查看您的收益。请注意，有时您可能需要手动刷新您的网页。
                  </div>
                </div>

              </div>

              <div class="panel mb-2">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#" href="#Toggle-6" class="collapsed">
                      7、我应该如何付款？
                    </a>
                  </h4>
                </div>
                <div id="Toggle-6" class="panel-collapse collapse">
                  <div class="panel-body">
                    选择好您所要购买的算力之后您可以选择付款，我们目前支持银行卡转账和ETH支付。
                  </div>

                </div>
              </div>

              <div class="panel mb-2">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#" href="#Toggle-7" class="collapsed">
                      8、我的回本周期是多久？
                    </a>
                  </h4>
                </div>
                <div id="Toggle-7" class="panel-collapse collapse">
                  <div class="panel-body">
                    回本周期需要根据当前全网算力、币价等等因素来决定的，如果您有需要，可以联系我们的客服询问当前回本周期。
                  </div>
                </div>
              </div>

              <div class="panel mb-2">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#" href="#Toggle-8" class="collapsed" aria-expanded="true">
                      9、我需要付出维护费用吗？
                    </a>
                  </h4>
                </div>
                <div id="Toggle-8" class="panel-collapse collapse in" aria-expanded="true" style="">
                  <div class="panel-body">
                    在购买完算力之后，您不需要再付出任何其他费用，只需要获取收益即可。
                  </div>
                </div>
              </div>

              <div class="panel mb-2">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#" href="#Toggle-9" class="collapsed" class="" aria-expanded="true">
                      10、我可以跟客服没事儿闲聊么？
                    </a>
                  </h4>
                </div>
                <div id="Toggle-9" class="panel-collapse collapse in" aria-expanded="true" style="">
                  <div class="panel-body">
                    您好，我们的客服全天工作还是比较忙碌的，建议您在有实际需要的时候和客服进行沟通，不建议闲聊，谢谢。
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>

      </div>
    </section>

    <!-- #services -->

    <!--==========================
      Featured Services Section
    ============================-->

    <!-- <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-bookmarks-outline"></i>
            <h4 class="title"><a href="">Lorem Ipsum Delino</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>

        </div>
      </div>
    </section> -->

    <!-- #featured-services -->

    <!--==========================
      Call To Action Section
    ============================-->

    <!-- #call-to-action -->

    <!--==========================
      Skills Section
    ============================-->

    <!-- <section id="skills">
      <div class="container">

        <header class="section-header">
          <h3>Our Skills</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        </header>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">HTML
                <i class="val">100%</i>
              </span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">CSS
                <i class="val">90%</i>
              </span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">JavaScript
                <i class="val">75%</i>
              </span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Photoshop
                <i class="val">55%</i>
              </span>
            </div>
          </div>

        </div>

      </div>
    </section> -->

    <!--==========================
      Facts Section
    ============================-->

    <!-- <section id="facts" class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Facts</h3>
          <div class="col-lg-12 col-md-12 box wow bounceInUp" data-wow-duration="1.4s" style="visibility: visible; animation-duration: 1.4s; animation-name: bounceInUp;">
            <div class="text-center">
              <div class="card-body">
                <h6 class="card-title">Special title treatment</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-danger">Go somewhere</a>
              </div>
              <div>
                2 days ago
              </div>
            </div>
          </div>
        </header>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
          </div>

        </div>

        <div class="facts-img">
          <img src="img/facts-img.png" alt="" class="img-fluid">
        </div>

      </div>
    </section> -->

    <!-- #facts -->

    <!--==========================
      Portfolio Section
    ============================-->

    <!-- <section id="portfolio" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Portfolio</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/app1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview">
                  <i class="ion ion-eye"></i>
                </a>
                <a href="#" class="link-details" title="More Details">
                  <i class="ion ion-android-open"></i>
                </a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 1</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview">
                  <i class="ion ion-eye"></i>
                </a>
                <a href="#" class="link-details" title="More Details">
                  <i class="ion ion-android-open"></i>
                </a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 3</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/app2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview">
                  <i class="ion ion-eye"></i>
                </a>
                <a href="#" class="link-details" title="More Details">
                  <i class="ion ion-android-open"></i>
                </a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 2</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/card2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview">
                  <i class="ion ion-eye"></i>
                </a>
                <a href="#" class="link-details" title="More Details">
                  <i class="ion ion-android-open"></i>
                </a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 2</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/web2.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview">
                  <i class="ion ion-eye"></i>
                </a>
                <a href="#" class="link-details" title="More Details">
                  <i class="ion ion-android-open"></i>
                </a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 2</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/app3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview">
                  <i class="ion ion-eye"></i>
                </a>
                <a href="#" class="link-details" title="More Details">
                  <i class="ion ion-android-open"></i>
                </a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">App 3</a></h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/card1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview">
                  <i class="ion ion-eye"></i>
                </a>
                <a href="#" class="link-details" title="More Details">
                  <i class="ion ion-android-open"></i>
                </a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 1</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/card3.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview">
                  <i class="ion ion-eye"></i>
                </a>
                <a href="#" class="link-details" title="More Details">
                  <i class="ion ion-android-open"></i>
                </a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Card 3</a></h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/portfolio/web1.jpg" class="img-fluid" alt="">
                <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview">
                  <i class="ion ion-eye"></i>
                </a>
                <a href="#" class="link-details" title="More Details">
                  <i class="ion ion-android-open"></i>
                </a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Web 1</a></h4>
                <p>Web</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->

    <!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <!-- <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Our Clients</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="img/clients/client-1.png" alt="">
          <img src="img/clients/client-2.png" alt="">
          <img src="img/clients/client-3.png" alt="">
          <img src="img/clients/client-4.png" alt="">
          <img src="img/clients/client-5.png" alt="">
          <img src="img/clients/client-6.png" alt="">
          <img src="img/clients/client-7.png" alt="">
          <img src="img/clients/client-8.png" alt="">
        </div>

      </div>
    </section> -->
    <!-- #clients -->

    <!--==========================
      Clients Section
    ============================-->
    <!-- <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt=""> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt=""> Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt=""> Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt=""> Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt=""> Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section> -->
    <!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->

    <!-- <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href="">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href="">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href="">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href="">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->

    <!-- #team -->

    <!--==========================
      Contact Section
    ============================-->

    <!-- <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>A108 Adam Street, NY 535022, USA</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p>
                <a href="tel:+155895548855">+1 5589 55488 55</a>
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p>
                <a href="mailto:info@example.com">info@example.com</a>
              </p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>

      </div>
    </section> -->

    <!-- #contact -->

  </main>

  <section id="call-to-action" class="wow fadeIn">
    <div class="container text-center">
      <h3 class="mb-4 text-bishide">从现在开始币势得云挖矿</h3>
      <div class="text-center offset-md-4 col-md-4">
      <if condition="isset($_SESSION['user'])">
        <a href="{:U('Personal/payment')}" class="btn btn-block btn-danger">立即部署算力</a>
        <else/>
        <a href="{:U('User/login')}" class="btn btn-block btn-danger">立即部署算力</a>
      </if>
      </div>
    </div>
  </section>

  <!--#include file="include/main-footer.html"  -->
  <include file="Public:main-footer"/>
  <a href="#" class="back-to-top">
    <i class="fa fa-chevron-up"></i>
  </a>

  <!--#include file="include/main-js.html"  -->
  <include file="Public:main-js" />
</body>

</html>
