.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group>.panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel+.panel {
  margin-top: 0;
}

.panel-heading {
  background-color: #ed5246;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
}

.panel-title a {
  display: block;
  color: #fff;
  padding: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.panel-body {
  background: #fff;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  -webkit-transition: border-radius 0.3s linear 0.2s;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading .show {
  border-radius: 0;
  -webkit-transition: border-radius linear 0s;
  transition: border-radius linear 0s;
}

/* #bs-collapse icon scale option */

.panel-heading a:before {
  content: ' ';
  position: absolute;
  font-family: 'FontAwesome';
  right: 15px;
  top: 10px;
  font-size: 24px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.panel-heading a.collapsed:before {
  content: '\f0fe';
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.panel-heading a:after {
  content: '\f146';
  position: absolute;
  font-family: 'FontAwesome';
  right: 15px;
  top: 10px;
  font-size: 24px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.panel-heading a.collapsed:after {
  content: ' ';
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
